@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
  background-image: url(../assets/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(253, 242, 31);
  margin-left: 40rem;
}
#content {
  padding-top: 15rem;
}
button {
  flex: 1;
}
nav {
  display: flex;
}
nav > button {
  flex: 1;
  height: 2rem;
  background-color: rgb(253, 242, 31);
  border: none;
}

nav > button:hover {
  background-color: rgb(128, 133, 47);
}

.menu {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(253, 242, 31);
  margin-left: 40rem;
}

.contact {
  font-size: 3rem;
  font-weight: 600;
  color: rgb(253, 242, 31);
  margin-left: 40rem;
}
